.button {
  color: white;
  background-color: #ffbf9b;
  border: 1px solid #ffbf9b;
  border-radius: 2px;
  width: 100%;
  height: 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  font-weight: 700;
  font-size: 24px;
  outline: none;
  box-shadow: none;
  cursor: pointer;
}

.disabled {
  background-color: #e5e5e5;
  border: 1px solid #e5e5e5;
}
