.menu {
  padding: 20px;
  background: #f5f5f5;
  width: 300px;
}
.item {
  display: flex;
  justify-content: space-between;
  padding: 0.625rem 1.875rem;
  background-color: #fff;
  font-weight: 400;
}
