@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body,
#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main {
  margin-top: 50px;
}
